
:root {
  --secondary-main-color: #797ec6;
  --color-level-1: #797ec6;
  --color-level-2: #a4a9ea;
  --color-level-3: #ced2ff;
}


.node-template {
    width: 17vh;
    height: 5vh;
    border-radius: var(--cocreate-radius-large);
    border: 0.125rem solid black;
    color: black;
    line-height: 2.5rem;
    cursor: grab;
    user-select: none;
    font-size: 1.5vh;
    font-size: var(--cocreate-font-size-large);
    text-align: center;

  &[data-type="1"] {
      background: var(--color-level-1);
  }
  &[data-type="2"] {
      background: var(--color-level-2);
  }
  &[data-type="3"] {
      background: var(--color-level-3);
}
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    background: linear-gradient(to right, #9e78e9, #9eedf0);
    font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 5vh;
    overflow: hidden;
    /*background: linear-gradient(to right, #9e78e9, #9eedf0);*/
    background-color: white;
}
.logo {
    height: 100%;
    width: auto;
}

/*Überschrift erstmal unsichbar weil unsicher was styling angeht*/
h1 {
    font-size: 4vh;
    color: black;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    margin-left: 30vw;
} 

dialog {
    background-color: #caeff0;
    position: fixed;
    margin: 0;
    top:10vh;
    left:1vw;
}

h2 {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

button {
    border-radius: 20px;
    margin-top: 10px;
    background-color: #797ec6;
}

